In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from IPython.display import display

In [46]:
datadir = 'data\RepCountA'
train_csv = os.path.join(datadir, 'annotation/train.csv')
test_csv = os.path.join(datadir, 'annotation/test.csv')
val_csv = os.path.join(datadir, 'annotation/valid.csv')

train_df = pd.read_csv(train_csv, index_col=0)
test_df = pd.read_csv(test_csv, index_col=0)
val_df = pd.read_csv(val_csv, index_col=0)

print(len(train_df), len(test_df), len(val_df))
print('total:', len(train_df) + len(test_df) + len(val_df))

train_df.head()

758 152 131
total: 1041

,type,name,count,L1,L2,L3,L4,L5,L6,L7,...,L293,L294,L295,L296,L297,L298,L299,L300,L301,L302
0,frontraise,train951.mp4,4.0,6.0,72.0,72.0,132.0,132.0,204.0,204.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,frontraise,train952.mp4,10.0,13.0,62.0,62.0,103.0,103.0,126.0,126.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pullups,test1463.mp4,7.0,21.0,60.0,60.0,98.0,98.0,132.0,132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,squant,test2340.mp4,4.0,0.0,86.0,86.0,155.0,155.0,218.0,219.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,front_raise,stu5_11.mp4,6.0,104.0,179.0,179.0,255.0,255.0,330.0,426.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
original_data = 'data/RepCountA/original_data/filename_mapping.csv'
ori = pd.read_csv(original_data, index_col=0)
len(ori)

800

In [37]:
ori.head()

         class               vid_st          vid  stuid   rename
0  battle_rope   1pzpaYrhdOo_13.mp4  1pzpaYrhdOo      1   stu1_0
1  battle_rope   1pzpaYrhdOo_93.mp4  1pzpaYrhdOo      4   stu4_0
2  battle_rope    7wDx6mZDxA8_0.mp4  7wDx6mZDxA8      3   stu3_0
3  battle_rope   DcRj7jtKhk4_52.mp4  DcRj7jtKhk4     10  stu10_0
4  battle_rope  FyGBSs1X1qM_105.mp4  FyGBSs1X1qM      3   stu3_1

In [61]:
# add column 'name' to ori
ori['name'] = ori['rename'].apply(lambda x: x+'.mp4')

In [38]:
ori.groupby('class').count()

                vid_st  vid  stuid  rename
class
battle_rope         20   20     20      20
bench_pressing     107  107    107     107
front_raise        106  106    106     106
jump_jack          113  113    113     113
others               7    7      7       7
pull_up            112  112    112     112
push_up            107  107    107     107
situp              106  106    106     106
squat              122  122    122     122

In [97]:
classes = train_df['type'].unique()
df = train_df.groupby('type').count()
df = df[['name', 'count']]
df.sort_values('count', ascending=False)

                name  count
type
situp             93     93
squat             80     80
bench_pressing    74     74
pull_up           74     74
push_up           72     71
pommelhorse       69     69
front_raise       68     68
jump_jack         61     61
others            37     37
frontraise        25     25
squant            21     21
pullups           20     20
benchpressing     19     19
pushups           17     17
jumpjacks         15     15
battle_rope       13     13

In [68]:
squant = train_df[train_df['type'] == 'squant']
# join ori on name
display(squant[['type', 'name', 'count']])
display(ori[ori['class']=='squant'])
pd.merge(squant[['type', 'name', 'count']], ori, on='name')

       type           name  count
3    squant   test2340.mp4    4.0
88   squant  train3948.mp4    2.0
170  squant    val1235.mp4    2.0
182  squant  train3959.mp4    2.0
195  squant   test2319.mp4    7.0
220  squant  train3944.mp4    2.0
236  squant    val1250.mp4    4.0
299  squant    val1256.mp4    2.0
304  squant   test2326.mp4    2.0
351  squant  train3951.mp4    4.0
370  squant   test2299.mp4    2.0
372  squant   test2309.mp4    2.0
394  squant    val1258.mp4    3.0
414  squant   test2318.mp4    4.0
487  squant   test2317.mp4    3.0
526  squant   test2295.mp4    1.0
577  squant   test2323.mp4    2.0
614  squant  train3932.mp4    2.0
625  squant   test2331.mp4    2.0
653  squant  train3912.mp4    4.0
655  squant   test2298.mp4    2.0

Empty DataFrame
Columns: [class, vid_st, vid, stuid, rename, name]
Index: []

Empty DataFrame
Columns: [type, name, count, class, vid_st, vid, stuid, rename]
Index: []

In [69]:
from IPython.display import Video

In [94]:
video_path = 'data/RepCountA/video/'
iter_squant = squant.iterrows()

Fix type. Replace `squant` with `squat`

In [118]:
train_df.replace('squant', 'squat', inplace=True)
val_df.replace('squant', 'squat', inplace=True)
test_df.replace('squant', 'squat', inplace=True)

train_df.groupby('type').count()[['name', 'count']].sort_values('count', ascending=False)

                name  count
type
squat            101    101
situp             93     93
bench_pressing    74     74
pull_up           74     74
push_up           72     71
pommelhorse       69     69
front_raise       68     68
jump_jack         61     61
others            37     37
frontraise        25     25
pullups           20     20
benchpressing     19     19
pushups           17     17
jumpjacks         15     15
battle_rope       13     13

# Dataloader

In [100]:
name = 'stu1_15.mp4'
row = train_df[train_df['name'] == name]
label = row['type'].values[0]
display(label)

'front_raise'

Csv to txt. Openmmlab format. One video per line separated by space.

In [120]:
classes = train_df['type'].unique()
class_dict = dict(zip(classes, range(len(classes))))

class_dict

{'frontraise': 0,
 'pullups': 1,
 'squat': 2,
 'front_raise': 3,
 'bench_pressing': 4,
 'jump_jack': 5,
 'situp': 6,
 'benchpressing': 7,
 'pull_up': 8,
 'push_up': 9,
 'jumpjacks': 10,
 'pushups': 11,
 'others': 12,
 'battle_rope': 13,
 'pommelhorse': 14}

In [113]:
with open('train.txt', 'w') as f:
    train_df.apply(lambda x: f.write(x['name'] + ' ' + str(class_dict[x['type']]) + '\n'), axis=1)

In [114]:
with open('val.txt', 'w') as f:
    val_df.apply(lambda x: f.write(x['name'] + ' ' + str(class_dict[x['type']]) + '\n'), axis=1)

with open('test.txt', 'w') as f:
    test_df.apply(lambda x: f.write(x['name'] + ' ' + str(class_dict[x['type']]) + '\n'), axis=1)